main{
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: 28vw 100vh;
    display: flex;
}

main section{
    width: 50%;
    height: 100%;
    position: relative;
}

main section:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main section:last-child{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
